@model Aluno

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<a asp-action="index">Lista de alunos</a>

<msg texto="@TempData["msg"]"></msg>

<form asp-action="cadastrar" asp-controller="aluno">

    <partial name="_Form" />

    <input type="submit" value="Cadastrar" class="btn btn-outline-primary" />
    <a asp-action="index" class="btn btn-outline-dark">Cancelar</a>
</form>

