@model List<Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@Html.ActionLink("Ir para Home", "Index", "Home")

<a asp-action="cadastrar" asp-controller="aluno">Cadastrar</a>

<table class="table">
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Data Nascimento</th>
    </tr>
    @foreach (var aluno in Model) 
    {
        <partial name="_Linha" model="aluno" />
    }

</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o aluno?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="alunoId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

<p>Aluno</p>

